.order-container,
.shipping-container,
.payment-container,
.summary-container {
  background-color: #f3f3f3;
  padding: 36px;
  margin: 20px 0;
  border-radius: 8px;
}

.cart-detail {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30px, 0.5fr));
  grid-gap: 1rem;
}

.cart-detail img {
  width: 3rem;
  padding-bottom: 12px;
  border-radius: 4px;
}


.btn-checkout {
  background-color: #0a3641;
  color: white;
  font-weight: 500;
  border-radius: 20px;
  padding: 12px 28px;
  border: none;
}

.checkout-summary {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

.checkout-summary img {
  width: 50%;
}

.checkout-summary h2 {
  margin-top: 0;
}

.total-price {
  font-weight: 600;
  color: #0a3641;
}

.shipping-payment {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.summary-container {
  display: flex;
  gap: 56px;
}

.payment-container form {
  padding: 50px 0;
}

.order-confirmed {
  text-align: center;
  padding: 50px;
  margin-bottom: 180px;
}

.checkbox {
  width: 20%;
  height: auto;
  padding-bottom: 30px;
}

.order-confirmed p {
  padding-bottom: 40px;
}

@media (max-width: 800px) {
  .shipping-payment {
    display: block;
    gap: 24px;
  }
  .summary-container {
    display: none;
  }
  .checkout-summary,
  .product-specific {
    display: block;
  }
  .checkbox {
    width: 30%;
  }
}
